BasedOnStyle:           Mozilla
AccessModifierOffset:   -4

AlignAfterOpenBracket:          Align
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines:           Right
AlignOperands:                  true
AlignTrailingComments:          true

AllowAllArgumentsOnNextLine:                true
AllowAllConstructorInitializersOnNextLine:  true
AllowAllParametersOfDeclarationOnNextLine:  true
AllowShortBlocksOnASingleLine:              Never
AllowShortCaseLabelsOnASingleLine:          true
AllowShortFunctionsOnASingleLine:           InlineOnly
AllowShortIfStatementsOnASingleLine:        WithoutElse
AllowShortLambdasOnASingleLine:             All
AllowShortLoopsOnASingleLine:               false

AlwaysBreakAfterDefinitionReturnType:   None
AlwaysBreakAfterReturnType:             None
AlwaysBreakBeforeMultilineStrings:      true
AlwaysBreakTemplateDeclarations:        "Yes"
BinPackArguments:                       false

BreakAfterJavaFieldAnnotations:         true
BreakBeforeBinaryOperators:             None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
ColumnLimit: 100
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: true
DerivePointerAlignment: false
DisableFormat: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentWidth: 4
IndentPPDirectives: AfterHash
Language: Cpp
MaxEmptyLinesToKeep: 4
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: CaseInsensitive
SortUsingDeclarations: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements 
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 4
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Never
